.features {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 40px;

	text-align: center;
}

.features__title {
	flex-basis: 100%;

	padding: 25px 20px 40px;

	font-family: 'montserratbold';
	font-size: 32px;
	line-height: 36px;
	color: #8d81ac;
	background-color: #f4f4f4;
}

.features__list {
	flex-basis: 100%;
	margin: 0;
	padding: 0 10px 550px;

	list-style: none;
	background-color: #f4f4f4;
}

.features-list__item {
	display: flex;
	justify-content: space-around;

	margin-bottom: 25px;

	& img {
		flex-basis: 25%;
	}
}

.features-description {
	flex-basis: 70%;

	text-align: left;
}

.description__title {
	margin: 0;
	margin-bottom: 10px;

	font-size: 11px;
	line-height: 14px;
}

.description__text {
	margin: 0;

	font-family: source_sans_proregular;
	font-size: 12px;
	line-height: 15px;

	color: #848e97;
}

.features__img {
	margin-top: -525px;
	margin-left: 7%;
	min-height: 580px;
	min-width: 93%;
	box-sizing: border-box;

	background-image: url('../../src/img/features-bg.jpg');
	background-repeat: no-repeat;
	background-size: auto;

	& img {
		width: 100%;
	}
}

@media (min-width: $desktop-width) {
	.features {
		
	}

	.features__title {
		order: 2;
		
	}

	.features__list {
		order: 1;
		
	}

	.features__img {

		order: 3;
	}
}