.subscribe {
	background-color: #f4f4f4;
}

.subscribe__container {
	margin-bottom: 30px;
	padding: 0 10px;
	padding-top: 40px;

	text-align: center;
}

.subscribe__title {
	display: block;
	margin-bottom: 30px;

	font-family: 'montserratbold';
	font-size: 20px;
	line-height: 40px;
}

.subscribe__form {
	padding-bottom: 30px;

	text-align: center;

	& input {
		display: block;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 7px 10px;
		box-sizing: border-box;

		font-size: 10px;
		line-height: 12px;

		border: none;
		border-radius: 50px;
		color: #c8cbcf;
		background-color: #fff;

			&:hover,
			&:focus {
				outline-color: lightblue; 
			}
	} 

	& .subscribe__submit {
		display: inline-block;
		padding: 7px 10px;

		font-size: 9px;
		line-height: 12px;
		text-transform: uppercase;

		border-radius: 50px;
		border: none;

		color: #fff;
		background-color: #8d81ac;

			&:hover,
			&:focus {
				color: #8d81ac;
				background-color: #f4f4f4;
			}

			&:active {
				opacity: 0.3;
			}
	}
}

@media (min-width: $tablet-width) {
	.subscribe__title {
		margin-bottom: 40px;

		font-size: 30px;
		line-height: 60px;
	}

	.subscribe__form {
		width: 500px;
		margin: 0 auto;
		padding-bottom: 50px;

		& input {
			width: 100%;
			margin: 0 auto 30px;
			padding: 12px 20px;
		
			font-size: 14px;
			line-height: 17px;	
		} 

		& .subscribe__submit {
			padding: 12px 20px;

			font-size: 13px;
			line-height: 17px;
		}
	}
}

@media (min-width: $desktop-width) {
	.subscribe__container {
		
		padding: 50px 135px 0; 
		margin-bottom: 80px;
	}

	.subscribe__title {
		line-height: 30px;
	}
}